{% extends 'DesyproCalendarBundle:Default:index.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ event.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ event.token }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ event.createdAt|date('Y-m-d H:i:s')  }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if event.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('events_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('events_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
